<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<nav>
	<div class="nav nav-tabs" id="nav-tab" role="tablist">
		<button class="nav-link active text-dark" id="nav-home-tab"
			data-bs-toggle="tab" data-bs-target="#nav-home" type="button"
			role="tab" aria-controls="nav-home" aria-selected="true">전체 레시피</button>

		<button class="nav-link text-dark" id="nav-home-tab"
			data-bs-toggle="tab" data-bs-target="#nav-home" type="button"
			role="tab" aria-controls="nav-profile" aria-selected="false">인기레시피</button>

		<button class="nav-link text-dark" id="nav-home-tab"
			data-bs-toggle="tab" data-bs-target="#nav-home" type="button"
			role="tab" aria-controls="nav-contact" aria-selected="false">꿀팁 공유</button>

		<button class="nav-link text-dark" id="nav-home-tab"
			data-bs-toggle="tab" data-bs-target="#nav-home" type="button"
			role="tab" aria-controls="nav-contact" aria-selected="false">공지 사항</button>
	</div>
</nav>
</html>