<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main_layout}">
<!--/* content */-->
<th:block layout:fragment="content">
	<div class="row my-5" id="global-content">
		<div class="col">
			<div class="row text-center">
				<div class="col">
					<h2 class="fs-3 fw-bold">게시글 쓰기</h2>
				</div>
			</div>
				<form action="/writeBoard" method="post" name="writeForm" id="writeForm"
				class="row g-3 border-primary" enctype="multipart/form-data">
				<input type="hidden" name="categoryCode" th:value="${board.categoryCode}"> 
				<input type="hidden" name="categoryName" th:value="${board.categoryName}">
					

				<div class="col-8 offset-md-2">
					<label for="categoryCode" class="form-label" >카테고리 선택</label> 
					<select
						id="categorySelect" class="form-select" name="categoryCode">
						<option value="1" th:selected="${board.categoryCode == 1}">자취생 레시피</option>		
						<option value="2" th:selected="${board.categoryCode == 2}">건강 레시피</option>							
						<option value="3" th:selected="${board.categoryCode == 3}">꿀팁 레시피</option>
						<option value="4" th:selected="${board.categoryCode == 4}">공지사항</option>
					</select>
				</div>

				<div class="col-4 offset-md-2">
					<label for="memberId" class="form-label">글쓴이</label> <input
						type="text" class="form-control text-secondary" name="memberId"
						id="memberId" th:value="${board.memberId}"
						placeholder="작성자를 입력해 주세요" readonly />
				</div>
				<div class="col-8 offset-md-2">
					<label for="boardTitle" class="form-label">제 목</label> <input
						type="text" class="form-control" name="boardTitle" id="boardTitle" />
				</div>
				<div class="col-8 offset-md-2">
					<label for="boardContent" class="form-label">내 용</label>
					<textarea class="form-control" name="boardContent"
						id="boardContent" rows="10"></textarea>
				</div>
				<div class="col-8 offset-md-2">
					<label for="addFile" class="form-label">파 일</label>
					<input type="file" class="form-control" name="addFile" id="addFile">
				</div>

				<div class="col-8 offset-md-2 text-center mt-5">
					<input type="submit" value="등록하기" class="btn btn-primary" />
					&nbsp;&nbsp;<input type="button" value="목록보기"
						onclick="location.href='homePage'" class="btn btn-primary" />
				</div>
				</form>
		</div>
	</div>
</th:block>
</html>
