<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.matching.plaform.mapper.BoardMapper">

	<!-- BoardMapper.xml -->

	<!-- 카테고리와 게시글을 함께 가져오는 쿼리 -->

	<select id="boardbyCategory" resultType="Board">
		SELECT b.board_no, b.board_title, b.board_content, b.board_reg_date,
		b.board_view,
		b.category_code, b.member_id, b.board_file1, c.category_name
		FROM board b
		JOIN category c ON b.category_code = c.category_code
		WHERE b.category_code = #{categoryCode}
		ORDER BY b.board_no DESC
	</select>


	<!-- <select id="boardbyCategory" resultType="Board"> SELECT * FROM board 
		WHERE category_code = #{categoryCode} ORDER BY board_no DESC </select> -->
	<update id="updateBoard" parameterType="Board">
		UPDATE board
		SET
		board_title = #{boardTitle},
		board_content = #{boardContent},
		board_reg_date = NOW(),
		category_code = #{categoryCode}
		WHERE board_no = #{boardNo}
	</update>

	<select id="getDetail" resultType="Board">
		SELECT * FROM
		board
		WHERE
		board_no = #{boardNo}
	</select>

	<insert id="writeBoard" parameterType="Board"
		useGeneratedKeys="true" keyProperty="boardNo">
		INSERT INTO board(board_title,
		board_content,
		board_reg_date, board_view, category_code, member_id, board_file1)

		VALUES(#{boardTitle},
		#{boardContent}, NOW(), #{boardView},#{categoryCode}, #{memberId}, #{boardFile1})
	</insert>

	<delete id="deleteBoard">
		DELETE FROM board
		WHERE board_no = #{boardNo}
	</delete>

</mapper>
