<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.matching.plaform.mapper.ReplyMapper">
	<select id="ReplyList" resultType="Reply">
		SELECT 
		reply_no AS replyNO,
		board_no AS boardNo,
		reply_content AS replyContent,
		member_id AS memberId,
		reply_reg_date AS replyRegDate,
		reply_like AS replyLike,
		reply_dislike AS replyDislike
		FROM reply
		WHERE board_no =#{no}
			ORDER BY no DESC
	</select>
</mapper>